body {
   margin: 0;
   font-family: 'Helvetica', 'Arial', sans-serif;
   font-size: 20px;
   line-height: 30px;
/* para que a fonte não fique quebrada com zoom */
   -webkit-font-smoothing:antialiased;
}

header {
    background-color: #0D0D0D;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2 {
    font-family: 'khand', cursive;
    font-weight:bold
    
}

header h1 {
    color: white;
    font-size: 50px;
}

header img {
    border-radius: 170px;
    width: 300px;
    border: 10px solid #731212;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    max-width: 100%;

}

h2 {
    font-size: 30px;
    color: #731212;
    margin: 40px 0 10px;
}

a {
    color: #731212;
}

a:hover {
    color: #0D0D0D;
}

footer {
    background-color: #0D0D0D;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
}


footer a:hover{
    color: white;
}


p.caption {
    color: #999999;
    font-style: italic;
    margin-top: 0;
    font-size:medium;
}

